{
  "globals": {
    "WebSocket": true,
    "document": true
  },
  "extends": "airbnb",
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "prefer-const": ["off"]
  }
}
