.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;

  text-align: center;
}

.app_logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.app_header {
  padding: 10px;

  background-color: #222;
  color: white;
}

.app_header h4 {
  margin: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
