.history_wrap {
  position: relative;
  height: 100%;
  padding: 70px 0 60px 0;
  background-color: #e6e6e6;
  overflow-y: scroll;
}

.history_list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
