.history_wrap {
  position: relative;
  height: 100%;
  background-color: #e6e6e6;
  overflow-y: scroll;
}

.history_list {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 60px 10px;
}
