.cf_wrap {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  height: 60px;
}

.compose_form {
  padding: 10px;
}

.compose_form .cf_input, .compose_form .cf_controls {
  display: block;
  float: left;
}

.compose_form .cf_input {
  width: 85%;
  text-align: left;
}

.compose_form .cf_input .form-control {
  min-height: 38px;
}

.compose_form .cf_controls {
  width: 15%;
  padding: 0 0 0 10px;
}

.compose_form .cf_controls .btn {
  width: 100%;
  margin: auto;
}
